.window {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40vw;
  height: 30vh;
  background-color: #f5f5dc;
}

.window-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.window-body > button {
  width: 50%;
  height: 20%;
  border-radius: 20px;
  margin: 5px 0;
  font-size: 1.5rem;
}

.window-body > button:hover {
  cursor: pointer;
}

.title-bar-text {
  font-size: 1.5rem;
}

.title-bar {
  height: 8%;
}
