.HomeScreen_container2 {
  width: 100vw;
  min-height: 100vh;
  background-color: #f5f5dc;
  color: black;
  align-items: center;
  justify-content: center;
  display: flex; /* Add this */
  flex-direction: column;
  overflow-y: auto; /* Allow vertical scrolling */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.HomeScreen_container {
  width: 100vw;
  overflow-y: auto; /* Allow vertical scrolling */

  min-height: 100vh;
  background-color: #f5f5dc;
  color: black;
  align-items: center;
  justify-content: center;
  display: flex; /* Add this */
  flex-direction: column;
}

.title-bar2 {
  width: 100vw;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f5f5dc; /* Ensure this matches your desired background color */
  display: flex;
  align-items: center;
  gap: 10px;
}

.dog_container {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 5;
}

.speech_bubble_container {
  position: absolute;
  right: 0;
  bottom: 30%;
  z-index: 6;
}

.speech_bubble_container > img {
  width: 450px; /* Keep the width the same */
  height: 650px; /* Stretch vertically */
}

/*.title-bar {
    background: black !important
  }*/
